
    <!-- START: Body Content -->
    <div class="ezy__nav2_hwwNIZPV">
	<nav class="navbar navbar-expand-lg  py-3">
		<div class="container">
			{{!-- <a class="navbar-brand" href="#">
				
			</a> --}}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span>
					<span></span>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
					<li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#how-it-works">How It Works</a></li>
					<li class="nav-item"><a class="nav-link" href="#ezy__about9_u6x94rYJ">About</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="#">How It Works</a></li> -->
				</ul>
				<ul class="navbar-nav flex-row mb-2 mb-lg-0 ms-lg-3">
					<li class="nav-item">
						<a href="/login"><button class="btn btn-primary px-3">Log In</button></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<section class="ezy__header22 dark">
  <div class="container position-relative">
    <div class="row justify-content-between">
      <div class="col-lg-6 pe-xl-5 text-center text-lg-start">
        <div class="ezy__header22-content-wrapper">
          <h2 class="ezy__header22-heading mb-4">Spaced Repetition Tracker</h2>
          <p class="ezy__header22-sub-heading">
            An Anki companion tool for #100Devs engineers. Map out your journey through the vast landscape of
            web technology.
          </p>
          <a href="/login" class="btn btn-warning ezy__header22-btn fs-5 mt-4 mt-md-5">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ezy__howitworks1_I06SSjgR gray">
  <div class="container">
    <div class="row justify-content-between">
      <!-- image -->
      <div class="col-12 col-lg-5">
        <video id="homepage-video" preload autoplay="none" playsinline="" aria-label="Screen capture of user clicking through web app" controls buffering>
            <source src="images/homepage-tutorial-video.mp4" type="video/mp4" aria-label="Screen capture of user clicking through web app">
        </video>
        {{!-- <img src="https://cdn.easyfrontend.com/pictures/featured/three.png" alt="" class="img-fluid mb-5 mb-lg-0" /> --}}
      </div>
      <div class="col-12 col-lg-6" id="how-it-works">
        <div class="row">
          <div class="col-12">
            <h1 class="ezy__howitworks1_I06SSjgR-heading mb-4">How It Works</h1>
          </div>
          <!-- card starts -->
          <div class="col-12 col-md-6">
            <div class="p-xl-3 mt-4">
              <div class="ezy__howitworks1_I06SSjgR-number mb-3">1</div>
              <h4 class="ezy__howitworks1_I06SSjgR-title fs-4 mb-3">Search Tech</h4>
              <p class="ezy__howitworks1_I06SSjgR-content mb-0">
                Search for technologies you're currently learning and add them to your stack.
              </p>
            </div>
          </div>
          <!-- card ends -->
          <!-- card starts -->
          <div class="col-12 col-md-6">
            <div class="p-xl-3 mt-4">
              <div class="ezy__howitworks1_I06SSjgR-number mb-3">2</div>
              <h4 class="ezy__howitworks1_I06SSjgR-title fs-4 mb-3">Add Topics</h4>
              <p class="ezy__howitworks1_I06SSjgR-content mb-0">
                Build out a list of topics that you want to master in each technology.
              </p>
            </div>
          </div>
          <!-- card ends -->
          <!-- card starts -->
          <div class="col-12 col-md-6">
            <div class="p-xl-3 mt-4">
              <div class="ezy__howitworks1_I06SSjgR-number mb-3">3</div>
              <h4 class="ezy__howitworks1_I06SSjgR-title fs-4 mb-3">Rate Session</h4>
              <p class="ezy__howitworks1_I06SSjgR-content mb-0">
                For each topic, do an Anki session and rate how well you think you did.
              </p>
            </div>
          </div>
          <!-- card ends -->
          <!-- card starts -->
          <div class="col-12 col-md-6">
            <div class="p-xl-3 mt-4">
              <div class="ezy__howitworks1_I06SSjgR-number mb-3">4</div>
              <h4 class="ezy__howitworks1_I06SSjgR-title fs-4 mb-3">Track Progress</h4>
              <p class="ezy__howitworks1_I06SSjgR-content mb-0">
                Save your session history and see how you've progressed through each piece of tech.
              </p>
            </div>
          </div>
          <!-- card ends -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ezy__about9_u6x94rYJ dark" id="ezy__about9_u6x94rYJ">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-12 col-lg-6">
        <h6 class="ezy__about9_u6x94rYJ-sub-heading">About</h6>
        <h1 class="ezy__about9_u6x94rYJ-heading">Built on the power of Anki</h1>
        <hr class="ezy__about9_u6x94rYJ-divider my-4" />
        <p class="ezy__about9_u6x94rYJ-sub-heading">
            Spaced repetition is a powerful learning technique that can help you master just about anything.
            This web app was inspired by the "magical spreadsheet" concept: You build out a list of 
            high-level topics for each field of knowledge you're studying, then test your ability to recall the information you've learned in each topic. 
        </p>
        <p class="ezy__about9_u6x94rYJ-sub-heading"s>
            Watch this video to learn more or visit the Anki website below. 
        </p>
        {{!-- <ul class="nav flex-column ezy__about9_u6x94rYJ-features mt-5">
          <li>
            <span class="fas fa-check text-primary me-2 mb-3 small"></span>
            <span class="opacity-75 small">Beautiful and easy to understand UI.</span>
          </li>
          <hr class="my-2" />
          <li>
            <span class="fas fa-check text-primary me-2 mb-3 small"></span>
            <span class="opacity-75 small">Theme advantages are pixel perfect design & clear code</span>
          </li>
          <hr class="my-2" />
          <li>
            <span class="fas fa-check text-primary me-2 mb-3 small"></span>
            <span class="opacity-75 small">Present your services with flexible</span>
          </li>
          <hr class="my-2" />
          <li>
            <span class="fas fa-check text-primary me-2 mb-3 small"></span>
            <span class="opacity-75 small">Find more creative ideas for your projects</span>
          </li>
          <hr class="my-2" />
          <li>
            <span class="fas fa-check text-primary me-2 small"></span>
            <span class="opacity-75 small">Faucibus porta lacus fringilla vel</span>
          </li>
        </ul> --}}
        <div class="mt-5">
          <a href="https://apps.ankiweb.net/"><button class="btn ezy__about9_u6x94rYJ-btn">Visit Anki</button></a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="mt-5 mt-lg-0">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Z-zNHHpXoMM?si=9CjN_QLkiQf2fZDN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ezy__copyright5_0pNVn6VN text-center pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
        <ul class="ezy__copyright5_0pNVn6VN-social nav">
          <li>
            <a href="https://github.com/nathanccz" class=""><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="" class=""><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="mailto:nathanccz.dev@gmail.com" class=""><i class="fa-solid fa-envelope"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p class="text-center text-lg-end mb-0">Copyright #100Devs</p>
      </div>
    </div>
  </div>
</section>


    <!-- END: Body Content -->

    