<h3><i class="fa-solid fa-marker"></i> Spaced Repetition Tracker</h3>
<div class="section">
    <p class="lead">Easily track your Anki spaced repetition sessions.</p>
    <em>Inspired by Magical Spreadsheets</em>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in With Google
    </a>
</div>