p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.row, 
.tech-submit-btn {
    display: flex;
}

.row .tech-input {
    flex-basis: 70%;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.tech-submit-btn {
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.row .add-tech-form {
    padding: 0;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

.tech-icon {
    color: rgb(99, 179, 34);
    margin-right: 1rem;
    font-size: 2rem;
}

tr {
    position: relative;
}

.table-item {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.add-tech-form {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2rem !important;
}

.tech-title {
    font-weight: 600;
}