/* HOME PAGE */
.ezy__nav2_hwwNIZPV {
	/* Bootstrap variables */
	--bs-body-color: #000;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;

	background-color: var(--bs-body-bg);
}

/* Gray Block Style */
.gray .ezy__nav2_hwwNIZPV,
.ezy__nav2_hwwNIZPV.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__nav2_hwwNIZPV,
.ezy__nav2_hwwNIZPV.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__nav2_hwwNIZPV,
.ezy__nav2_hwwNIZPV.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);


}

.ezy__nav2_hwwNIZPV .navbar-brand {
	font-weight: 800;
	font-size: 30px;
	color: var(--bs-body-color);
}

.ezy__nav2_hwwNIZPV .navbar-toggler {
	border: none;
	box-shadow: none !important;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span {
	display: flex;
	align-items: center;
	height: 32px;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span>span {
	position: relative;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span>span,
.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::before,
.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::after {
	height: 2px;
	background-color: var(--bs-body-color);
	width: 25px;
	display: inline-block;
	border-radius: 5px;
	transition: all .35s ease-in-out;
}

.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::before,
.ezy__nav2_hwwNIZPV .navbar-toggler>span>span::after {
	content: '';
	position: absolute;
	left: 0;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="false"]>span>span::before {
	top: 7px;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="false"]>span>span::after {
	bottom: 7px;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="true"]>span>span {
	background-color: transparent;
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="true"]>span>span::before {
	top: 0;
	transform: rotate(-45deg);
}

.ezy__nav2_hwwNIZPV .navbar-toggler[aria-expanded="true"]>span>span::after {
	bottom: 0;
	transform: rotate(45deg);
}

.ezy__nav2_hwwNIZPV .navbar-nav .nav-link {
	color: var(--bs-body-color);
	opacity: .6;
}

.ezy__nav2_hwwNIZPV .navbar-nav .nav-link:hover,
.ezy__nav2_hwwNIZPV .navbar-nav .nav-link:focus,
.ezy__nav2_hwwNIZPV .navbar-nav .nav-link.active {
	color: var(--bs-body-color);
	opacity: 1;
}

@media (min-width: 992px) {
	.ezy__nav2_hwwNIZPV .navbar-nav .nav-link {
		padding-right: 16px;
		padding-left: 16px;
	}
}

/* btns */
.ezy__nav2_hwwNIZPV .btn-primary {
	background-color: var(--ezy-theme-color);
	border-color: var(--ezy-theme-color);
}

.ezy__nav2_hwwNIZPV .btn-primary:hover {
	background-color: rgba(var(--ezy-theme-color-rgb), .9);
	border-color: rgba(var(--ezy-theme-color-rgb), .9);
}

.ezy__nav2_hwwNIZPV .btn-outline-primary {
	color: var(--ezy-theme-color);
	border-color: var(--ezy-theme-color);
}

.ezy__nav2_hwwNIZPV .btn-outline-primary:hover {
	color: #fff;
	background-color: rgba(var(--ezy-theme-color-rgb), .9);
	border-color: rgba(var(--ezy-theme-color-rgb), .9);
}

.ezy__header22 {
  /* Bootstrap variables */
  --bs-body-color: #373572;
  --bs-body-bg: #fff;

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-shadow: 0px 4px 44px rgba(159, 190, 218, 0.37);

  background-image: url("../images/profile-header-bg.jpg");
  /* background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.1)), url("../images/profile-header-bg.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 60px 0 0 0;
  position: relative;
}

@media (min-width: 768px) {
  .ezy__header22 {
    padding: 100px 0 0 0;
  }
}

/* Gray Block Style */
.gray .ezy__header22,
.ezy__header22.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__header22,
.ezy__header22.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);

  /* Easy Frontend variables */
  --ezy-shadow: 0px 4px 44px rgba(0, 0, 0, 0.37);
}

/* Dark Block Style */
.dark .ezy__header22,
.ezy__header22.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);

  /* Easy Frontend variables */
  --ezy-shadow: 0px 4px 44px rgba(0, 0, 0, 0.37);
}

.ezy__header22-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: var(--bs-body-color);
}

@media (min-width: 768px) {
  .ezy__header22-heading {
    font-size: 70px;
    line-height: 85px;
  }
}

.ezy__header22-sub-heading {
  color: var(--bs-body-color);
  font-size: 22px;
  line-height: 1.5;
  opacity: 1;
}

.ezy__header22-content-wrapper {
  padding-bottom: 60px;
}

@media (min-width: 991px) {
  .ezy__header22-content-wrapper {
    padding-bottom: 130px;
  }
}

.ezy__header22-btn {
  padding: 12px 30px;
  color: #fff;
  box-shadow: var(--ezy-shadow);
  background-color: var(--ezy-theme-color);
  border-color: var(--ezy-theme-color);
}

.ezy__header22-btn:hover {
  color: #fff;
  background-color: rgba(var(--ezy-theme-color-rgb), 0.9);
  border-color: rgba(var(--ezy-theme-color-rgb), 0.9);
}

@media (min-width: 991px) {
  .ezy__header22-thumbnail {
    margin-right: -144px;
  }
}

.ezy__howitworks1_I06SSjgR {
  /* Bootstrap variables */
  --bs-body-color: #23262f;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;

  background-color: var(--bs-body-bg);
  overflow: hidden;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .ezy__howitworks1_I06SSjgR {
    padding: 100px 0;
  }
}

/* Gray Block Style */
.gray .ezy__howitworks1_I06SSjgR,
.ezy__howitworks1_I06SSjgR.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__howitworks1_I06SSjgR,
.ezy__howitworks1_I06SSjgR.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
}

/* Dark Block Style */
.dark .ezy__howitworks1_I06SSjgR,
.ezy__howitworks1_I06SSjgR.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
}

.ezy__howitworks1_I06SSjgR-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  color: var(--bs-body-color);
}
@media (min-width: 768px) {
  .ezy__howitworks1_I06SSjgR-heading {
    font-size: 45px;
  }
}

/* img */
.ezy__howitworks1_I06SSjgR img {
  border-radius: 20px;
}
/* card */

.card {
  flex-direction: row !important;
}

.col-12.col-sm-6.col-lg-4.col-xl-3.mt-4 {
  width: 49%;
}

.card img {
    margin-top: 1rem;
    margin-left: .5rem;
    height: 50px;
    width: 50px;
  }
  
  .ezy__howitworks1_I06SSjgR .card {
    background-color: transparent !important;
  }
  
  .ezy__howitworks1_I06SSjgR-number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ezy-theme-color);
    color: #fff;
  }
  .ezy__howitworks1_I06SSjgR-title {
    font-weight: 500;
    color: var(--bs-body-color);
  }
  .ezy__howitworks1_I06SSjgR-content {
    color: var(--bs-body-color);
    opacity: 0.8;
  }
  
  .ezy__about9_u6x94rYJ {
    /* Bootstrap variables */
    --bs-body-color: #1e2329;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
  
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    padding: 60px 0;
  }
  
  @media (min-width: 768px) {
    .ezy__about9_u6x94rYJ {
      padding: 100px 0;
    }
  }
  
  /* Gray Block Style */
  .gray .ezy__about9_u6x94rYJ,
  .ezy__about9_u6x94rYJ.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__about9_u6x94rYJ,
  .ezy__about9_u6x94rYJ.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  }
  
  /* Dark Block Style */
  .dark .ezy__about9_u6x94rYJ,
  .ezy__about9_u6x94rYJ.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  }
  
  .ezy__about9_u6x94rYJ-heading {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  .ezy__about9_u6x94rYJ-sub-heading {
    opacity: 0.7;
  }
  
  .ezy__about9_u6x94rYJ img {
    border-radius: 15px;
  }
  
  .ezy__about9_u6x94rYJ-divider {
    color: var(--ezy-theme-color);
    height: 2px !important;
    border-radius: 3px;
    width: 50px;
    opacity: 1;
  }
  
  .ezy__about9_u6x94rYJ .text-primary {
    color: var(--ezy-theme-color) !important;
  }
  .ezy__about9_u6x94rYJ-features hr {
    width: 90%;
  }
  .ezy__about9_u6x94rYJ-btn {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
    padding: 8px 25px;
    transition: 0.5s;
  }
  .ezy__about9_u6x94rYJ-btn:hover {
    color: var(--bs-body-bg);
    opacity: 0.9;
  }
  
  .ezy__copyright5_0pNVn6VN {
    /* Bootstrap variables */
    --bs-body-color: #212529;
    --bs-body-bg: rgb(255, 255, 255);
  
    /* easy frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
  
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
  }
  
  /* Gray Block Style */
  .gray .ezy__copyright5_0pNVn6VN,
  .ezy__copyright5_0pNVn6VN.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
  }
  
  /* Dark Gray Block Style */
  .dark-gray .ezy__copyright5_0pNVn6VN,
  .ezy__copyright5_0pNVn6VN.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);
  }
  
  /* Dark Block Style */
  .dark .ezy__copyright5_0pNVn6VN,
  .ezy__copyright5_0pNVn6VN.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);
  }
  
  .ezy__copyright5_0pNVn6VN-nav .nav-link {
    color: var(--bs-body-color);
  }
  
  .ezy__copyright5_0pNVn6VN-nav .nav-link:hover {
    color: var(--bs-body-color);
    opacity: .9;
  }
  
  .ezy__copyright5_0pNVn6VN-social li {
    list-style-type: none;
    display: inline-block;
    margin: 6px 8px;
  }
  
  .ezy__copyright5_0pNVn6VN-social li a {
    color: var(--bs-body-color);
  }
  
  .ezy__copyright5_0pNVn6VN-social li a:hover {
    color: var(--ezy-theme-color);
  }

  #homepage-video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* .mt-5.mt-lg-0 iframe {
    width: 100%;
    height: auto;
    object-fit: contain;
  } */

/* INNER PAGES */
.grey.darken-2 {
  background: rgb(11, 23, 39) !important;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.row, 
.tech-submit-btn {
    display: flex;
}

.row .tech-input {
    flex-basis: 70%;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.tech-submit-btn {
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
}

.row .add-tech-form {
    padding: 0;
}

.collapsible-body,
.row .add-tech-form {
  background: white;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}

tr {
    position: relative;
}

.profile-collection {
    border-radius: 10px;
}

body {
  background: rgb(246, 247, 251);
}

.add-tech-form {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 2rem !important;
}

.tech-title {
    font-weight: 600;
}

textarea.materialize-textarea:focus:not([readonly])+label,
.input-field .prefix.active {
  color: #0d6efd;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #0d6efd;
  box-shadow: 0 1px 0 0 #0d6efd;
}

.topic-input-field {
    width: 50% !important;
    margin-left: 0 !important;
    margin-right: 1rem !important;
}

.collapsible {
    width: 80%;
}

.collapsible-header {
    font-weight: bold;
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
}

.parallax-container .parallax img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.session-input-field {
    display: flex;
    gap: 2rem;
    border: 1px solid rgb(225, 220, 220);
    border-radius: 10px;
    justify-content: space-between;
    padding: 1rem 2.5rem !important;
    /* justify-content: center; */
}

.session-input-field h6 {
    font-weight: 600;
    opacity: .8;
    margin: 0 !important;
}

.collapsible h6,
.history-container span {
    font-weight: 600;
    text-align: center;
}

.history-container ul {
    width: 80% !important;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    background: rgb(245, 245, 245, .6);
}

.history-container li:first-child {
    flex-basis: 50%;
} 

.collapsible h6 {
    margin-bottom: 1.5rem;
}

.modal-all-container,
.history-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.modal-all-container ul,
.history-container ul {
    border: 1px solid rgb(225, 220, 220);
    border-radius: 3px;
    padding: 1rem;
    width: 250px;
}

.modal-all-container {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.modal-all-container ul {
    width: 50%;
}

.modal-content h5 {
    text-align: center;
    margin-bottom: .5rem;
}


.collapsible .collapsible-header {
    transition: background 0.5s;
}

.collapsible .collapsible-header:hover {
    background: rgb(227, 224, 224);
}

.session-collection {
    width: 80%;
    padding: 1.5rem !important;
}

.collection .collection-item {
    padding-top: 20px;
}

.collection-item span,
.collection-item p {
    margin-left: 2.5rem !important;
}

.collection-item svg {
    opacity: .7;
}

.collapsible .collection {
    margin: 0 auto !important;
}

.collection.session-collection {
    margin-top: .5rem !important;
    border: 1px solid rgb(167, 165, 165, .8) !important;
}

.topic-btm {
    display: flex;
    justify-content: space-between;
}

.btn {
    border-radius: 20px;
    background: #0d6efd;
}

.tech-icon-header {
    color: rgb(132, 129, 129)
}

.fa-chevron-down {
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
  }
  
.fa-chevron-down.rotate-180 {
  transform: rotate(180deg);
}

*[data-rating="Very Hard"] {
    color: red;
}

*[data-rating="Somewhat Hard"] {
    color: orange;
}

*[data-rating="Average"] {
    color: yellow;
}

*[data-rating="Somewhat Easy"] {
    color: lightgreen;
}

*[data-rating="Very Easy"] {
    color: green;
}

*[data-rating="No Rating"] {
    color: gray;
}

circle[data-rating="Average"] {
    fill: yellow;
}

circle[data-rating="Somewhat Easy"] {
    fill: lightgreen;
}

circle[data-rating="Very Easy"] {
    fill: green;
}

circle[data-rating="Very Hard"] {
    fill: red;
}

circle[data-rating="Somewhat Hard"] {
    fill: orange;
}

circle[data-rating="Average"] {
    fill: yellow;
}

circle[data-rating="Somewhat Easy"] {
    fill: lightgreen;
}

circle[data-rating="Very Easy"] {
    fill: green;
}

circle[data-rating="No Rating"] {
    color: gray;
}

img.circle {
    border-radius: 0 !important;
}

.title {
    font-weight: 700;
}

.collection-btns {
    display: flex;
}

.collection {
    margin-top: 2rem;
    max-width: 800px;
    max-height: 65vh;
    overflow: auto;
    z-index: 3;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

body {
    z-index: 1;
    width: 100%;
    height: 100vh;
    /* background-image: url("../images/bg.jpg"); */
    background-size: 100%;
}

/* MOBILE */

@media screen and (max-width: 783px) {
    .collection-btns .btn-float {
        display: none;
    }

    .collapsible {
        width: 95%;
        margin: 0 auto;
    }

    .col.s12 > .row,
    .history-container ul,
    .input-field {
        flex-direction: column;
    }

    .nav-wrapper .brand-logo{
        font-size: 16px;
    }

    .col.s12 > .row {
        justify-content: center;
        align-items: center;
    }

    .col.s12 > .row .input-field {
        width: 80% !important;
    }

    .delete-tech-btn {
        width: 30px;
        height: 20px;
        padding: 0;
    }
    
    .delete-tech-btn i {
        font-size: 1rem;
        line-height: normal;
        position: absolute;
        top: .4rem;
        left: .65rem;
    }

    .row .col.s12,
    .row .col.s6 {
        margin-right: auto !important;
    }
}

