  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12 tech-input">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Add new technology</label>
        </div>
        <div class="tech-submit-btn">
          <button class="btn waves-effect waves-light" type="submit" name="action">Add Tech
            <i class="material-icons left">add</i>
          </button>
        </div>
      </div>
    </div>
  </div>