 <div class="row">
    <h3>{{techName}} Overview</h3>
</div>
  
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6 topic-input-field">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Write down topic</label>
        </div>
        <div class="valign-wrapper">
            <button class="btn waves-effect waves-light" type="submit" id="add-topic-btn" data-id="{{techID}}">Add Topic
                <i class="material-icons right">add</i>
            </button>
        </div>
      </div>        
    </form>
  </div>
  
  {{#if topic}}
  {{#each topic}}
 <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{topic}}</div>
      <div class="collapsible-body"><span>You have not recorded any sessions for this topic.</span></div>
    </li>
  </ul>
  {{/each}}
  {{else}}
    <p>You have not added any topics for this technology.</p>
  {{/if}}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      let elems = document.querySelectorAll('.collapsible');
      const options = { accordion: true }
      let instances = M.Collapsible.init(elems, options);
    })

    const addTopicBtn = document.getElementById('add-topic-btn')
    addTopicBtn.addEventListener('click', async(event) => {
      event.preventDefault()
      const techID = event.target.dataset.id
      const topicToAdd = document.querySelector('.materialize-textarea').value
      if (!topicToAdd) {
        alert('Please enter a topic.')
        return
      }
      const response = await fetch('/tech/addTopic', {
        method: "POST",
        headers: { 'Content-type': 'application/json' },
        body: JSON.stringify({
            topicToAdd: topicToAdd,
            techID: techID
        })
      })
      const data = await response.json()
      if (data === 'Topic added successfully') {
        location.reload()
      }
    })
  </script>